<!--
<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
-->

<h1 class="page-header">About Us!</h1>
<h3>Woof Woof Meow Squeek</h3>

<div class="container">
  <div class="jumbotron">
    <h1>Animal Shelter</h1>
    <p>Animal Shelter was designed and developed to get you interested in adopting our animals.</p>
  </div>

  <p>For more answers to your questions, please visit our Policies,  <%= link_to 'Terms and Conditions', pages_terms_path %>, <%= link_to 'FAQs', faqs_path %> or  <%= link_to 'leave a message', pages_contact_path %>... </p>
</div>
