<!--
<h1>Pages#cookies</h1>
<p>Find me in app/views/pages/cookies.html.erb</p>
-->

<h1 class="page-header">Hours of Service</h1>
<h3>Please read</h3>

<!-- Frequently asked questions go here... -->
<p>We are open between the hours of 1pm to 5pm for viewings and pickup Monday to Friday <br>


</p>
