<!--
<h1>Pages#terms</h1>
Find me in app/views/pages/terms.html.erb
-->
<h1 class="page-header">Terms and conditions</h1>
                 <h3>Please read</h3>

<p>
Last updated: Jan 14, 2021<br>
Please read these Terms and Conditions (&quot;Terms&quot;, &quot;Terms and Conditions&quot;) carefully before using the ...animal shelter... website (the &quot;Service&quot;) operated by ...animal shelter... (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;).
Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
</p>
<!-- add more terms here -->
